:root {
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  font-family: "Poor Story", system-ui;
  font-family: "Roboto", sans-serif;
}
